<h1 align="center">Редактирование</h1>
 <% form_for([@group, @student]) do |f| %> 
 <%= f.error_messages %>
 <p align="center">
 <%= f.label :name %><br />
 <%= f.text_field :name %>
 </p>
 <p align="center">
 <%= f.label :info %><br />
 <%= f.text_field :info %>
 </p>
 <p align="center">
 <%= f.submit "Обновить" %> 
 </p>
 <% end %>
<p align="center">
 <%= link_to 'Показать',group_student_path(@group, @student) %> | 
 <%= link_to 'Назад', group_students_path(@group) %> 
</p>
