<h1>Редактирование</h1>

<% form_for([@group, @discipline]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :'Название дисциплины' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :'Кафедра' %><br />
    <%= f.text_field :cafedra_name %>
  </p>
  <p>
    <%= f.label :'Номер кафедры' %><br />
    <%= f.text_field :cafedra_number %>
  </p>
  <p>
    <%= f.submit 'Сохранить изменения' %>
  </p>

<% end %>

<%= link_to 'Показать', group_discipline_path (@group, @discipline) %> |
<a href="javascript:history.back();">Назад</a>
