<h1>Редактирование</h1>

<% form_for([@group, @discipline]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :'Название дисциплины' %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit 'Сохранить изменения' %>
  </p>

<% end %>

<%= link_to 'Показать', group_discipline_path (@group, @discipline) %> |
<%= link_to 'Назад', group_disciplines_path (@group) %>
