<h1>Новая дисциплина</h1>

<% form_for([@group, @discipline]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :'Кафедра' %><br />
    <%= f.text_field :cafedra_name %>
  </p>
  <p>
    <%= f.label :'Номер кафедры' %><br />
    <%= f.text_field :cafedra_number %>
  </p>
  <p>
    <%= f.submit 'Создать' %>
  </p>
<% end %>

<a href="javascript:history.back();">Назад</a>
