<h1>Новая дисциплина</h1>

<% form_for([@group, @discipline]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit 'Создать' %>
  </p>
<% end %>

<%= link_to 'Назад к списку групп', group_disciplines_path (@group) %>
