<h1>Группа <%=h @group.numb %></h1>
<p>

  <b>Дисциплина:</b>
  <%=h @discipline.name %>

</p>
<p>
<b>Вид отчетности:</b>
<% @group.reportings.each do |c| %>
<% if c.discipline_id == @discipline.id %>
 <%=h c.rtype %>
<% end %>
 <% end %> 
 </p> 


<b>Преподаватели:</b>
<% @group.lecturers.each do |l| %>
<p>
<% if l.discipline_id == @discipline.id %>
 <%=h l.surname %>
 <%=h l.name %>
 <%=h l.lastname %>
   <%if l.ltype == '1' %>
      <% l.ltype = ' - лекции' %>
      <%=h l.ltype %>
   <% elsif l.stype == '1' %>
      <% l.stype = ' - семинары' %>
      <% s = 0 %>
      <%=h l.stype %>
   <% elsif l.labtype == '1' %>
      <% l.labtype = ' - лабораторные' %>
      <% lab = 0 %>
      <%=h l.labtype %>
   <% end %>
   <%if l.stype == '1' && s != 0 %>
      <% l.stype = '  семинары' %>
      <%=h l.stype %>
   <% end %>
   <%if l.labtype == '1' && lab != 0 %>
      <% l.labtype = '  лабораторные' %>
      <%=h l.labtype %>
   <% end %>
<% end %>
 </p> 
 <% end %> 



<p>
</p>
<%= link_to 'Назад', group_disciplines_path (@group) %> 



