<h1>Редактирование</h1>
 <% form_for([@group, @student]) do |f| %> 
 <%= f.error_messages %>
 <p>
 <%= f.label :Фамилия_Имя_Отчество %><br />
 <%= f.text_field :name %>
 </p>
 <p>
 <%= f.label :Номер_паспорта %><br />
 <%= f.text_field :info %>
 </p>
<p>
 <%= f.label :Дата_рождения %><br />
 <%= f.text_field :data %>
 </p>
<p>
 <%= f.label :Место_рождения %><br />
 <%= f.text_field :from %>
 </p>
 <p>
 <%= f.submit "Обновить" %> 
 </p>
 <% end %>

 <%= link_to 'Показать',group_student_path(@group, @student) %> | 
 <%= link_to 'Назад', group_students_path(@group) %> 
