<h1>Список Студентов группы<%=h @group.numb %> </h1>

<table>
    <tr>
        <td>Фамилия Имя Отчество</td>
    </tr>

<% for student in @students %>  
    <tr>
       <td><%=h student.name %></td>
       <td><%= link_to 'Показать', group_student_path(@group, student) %></td>
       <td><%= link_to 'Изменить', edit_group_student_path(@group, student) %></td>
       <td><%= link_to 'Удалить', group_student_path(@group, student), :confirm => 'Точно?', :method => :delete %>
       </td>
      </tr>
 <% end %>
 </table> 
   <br />
 <%= link_to 'Зачислить студента', new_group_student_path(@group) %> 
 <%= link_to 'Назад к группе', @group %> 

