<h1>Список групп</hq>
<table>
    <tr>
        <th>Номер группы</th>
    </tr>
<% @groups.each do |group| %> 
    <tr>
        <td><%=h group.numb %></td>
       <td><%= link_to 'Показать', group %></td>
       <td><%= link_to 'Изменить', edit_group_path(group) %></td>
       <td><%= link_to 'Удалить', group, :confirm => 'Точно?', :method => :delete %></td>
       </tr> <% end %> </table> 
   <br />
 <%= link_to 'Новая группа', new_group_path %> 
