<p>
 <b>Номер группы:</b> 
 <%=h @group.numb %>
 </p>

<h2>Студенты</h2> 
<% k=0 %>
<% @group.students.each do |c| %>
<% k+=1 %>
 <p>
<b>  <%=h k %>)</b> 
 <%=h c.name %>
 </p> 


 <% end %> 



<%= link_to 'Редактировать группу', edit_group_path(@group) %> |
 <%= link_to 'Назад к списку групп', groups_path %> |
 <%= link_to 'Управление студентами', group_students_path(@group) %>
<p> 
 <%= link_to 'Дисциплины', group_disciplines_path (@group) %> 
</p>
