<h1>Редактирование</h1>

<% form_for([@group, @reporting]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :'Вид отчетности' %><br />
    <%= f.text_field :rtype %>
  </p>
  <p>
<%= f.label :Дисциплина %><br />
  <%= disciplines_select('reporting[discipline_id]', @group.id) %>
  </p>
  <p>
    <%= f.submit 'Сохранить изменения' %>
  </p>
<% end %>

<%= link_to 'Показать', group_reporting_path (@group, @reporting) %> |
<%= link_to 'Назад', group_reportings_path (@group) %>
