<h2>Виды отчетности по дисциплине <%=h @discipline.name %></h2>

<table>

<% for reporting in @reportings %>
<tr><td  align="center">
<%=h reporting.rtype %>
</td></tr>
<tr><td  align="center">
  <%if reporting.rktype == '1' %>
  <% reporting.rktype = '  Курсовая работа' %>
  <%=h reporting.rktype %>
  <% end %>
</td></tr><tr><td>
<%= link_to 'Редактировать', edit_discipline_reporting_path (@discipline, reporting) %>
    <%= link_to 'Удалить', discipline_reporting_path (@discipline, reporting), :confirm => 'Вы уверены?', :method => :delete %>
</td></tr>
<% end %>
</table>

<% @group = @discipline.group_id %>

<br />

 <%= link_to 'Добавить отчетность', new_discipline_reporting_path(@discipline) %> |
<a href="javascript:history.back();">Назад</a>
