<h1>Новая отчетность</h1>

<% form_for([@discipline, @reporting]) do |f| %>
  <%= f.error_messages %>
<p>

<%= f.select(:rtype, options_for_select([['Экзамен', 'Экзамен'], ['Зачет', 'Зачет']])) %> 

  </p>
  <p>
<%= f.check_box :rktype %> 
<%= label_tag(:rktype, "курсовая работа") %> 
  </p>
  <p>
<% @reporting.discipline_id == @discipline.id %>
  </p>
  <p>
    <%= f.submit 'Создать' %>
  </p>
<% end %>

<a href="javascript:history.back();">Назад</a>
