<h1>Редактирование</h1>

<% form_for([@discipline, @lecturer]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Фамилия %><br />
    <%= f.text_field :surname %>
  </p>
  <p>
    <%= f.label :Имя %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :Отчество %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
<%= f.check_box :ltype %> 
<%= label_tag(:ltype, "лекции") %> 
  </p>
  <p>
<%= f.check_box :stype %> 
<%= label_tag(:stype, "семинары") %> 
  </p>
  <p>
<%= f.check_box :labtype %> 
<%= label_tag(:labtype, "лабораторные") %> 
  </p>
  <p>
<% @lecturer.discipline_id == @discipline.id %>
  </p>
  <p>
    <%= f.submit 'Сохранить изменения' %>
  </p>
<% end %>

<%= link_to 'Показать', discipline_lecturer_path (@discipline, @lecturer) %> |
<%= link_to 'Назад', discipline_lecturers_path (@discipline) %>
