<h1>Преподаватели по дисциплине <%=h @discipline.name %></h1>

<table>
  <tr>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>

  </tr>
<% for lecturer in @lecturers %>
  <tr>
    
    <td><%=h lecturer.surname %></td>
    <td><%=h lecturer.name %></td>
    <td><%=h lecturer.lastname %></td>

<td>
  <%if lecturer.ltype == '1' %>
  <% lecturer.ltype = '  лекции' %>
  <%=h lecturer.ltype %>
  <% end %>
</td>

<td>
  <%if lecturer.stype == '1' %>
  <% lecturer.stype = '  семинары' %>
  <%=h lecturer.stype %>
  <% end %>
</td>

<td>
  <%if lecturer.labtype == '1' %>
  <% lecturer.labtype = '  лабораторные' %>
  <%=h lecturer.labtype %>
  <% end %>
</td>

    <td><%= link_to 'Редактировать', edit_discipline_lecturer_path (@discipline, lecturer) %></td>
    <td><%= link_to 'Удалить', discipline_lecturer_path (@discipline, lecturer), :confirm => 'Вы уверены?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% @group = @discipline.group_id %>

<br />

 <%= link_to 'Добавить преподавателя', new_discipline_lecturer_path(@discipline) %> |
<%= link_to 'Назад к списку дисциплин', group_disciplines_path (@group) %> 

