<h1>Преподаватель(и) по дисциплине <%=h @discipline.name %></h1>

<table>

<% for lecturer in @lecturers %>
  <tr>
    <td><%=h lecturer.surname %></td>
    <td><%=h lecturer.name %></td>
    <td><%=h lecturer.lastname %></td>
    <td><%= link_to 'Показать', discipline_path (@discipline)  %></td>
    <td><%= link_to 'Редактировать', edit_discipline_lecturer_path (@discipline, lecturer) %></td>
    <td><%= link_to 'Удалить', discipline_lecturer_path (@discipline, lecturer), :confirm => 'Вы уверены?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
 <%= link_to 'Добавить', new_discipline_lecturer_path(@discipline) %> |
<%= link_to 'Назад к списку дисциплин', disciplines_path %> 

