
<p>
  <b>Фамилия</b>
  <%=h @lecturer.surname %>
</p>
<p>
  <b>Имя</b>
  <%=h @lecturer.name %>
</p>
<p>
  <b>Отчество</b>
  <%=h @lecturer.lastname %>
</p>


<%= link_to 'Показать', group_lecturers_path(@group) %> |
<%= link_to 'Редактировать', edit_group_lecturer_path(@group, @lecturer) %> |
<%= link_to 'Назад', group_lecturers_path(@group) %>
